let API_URL = 'http://store-api.test';

const APP_HOST = API_URL;

const PFMS_API 			= 'http://local/pfms_api';
const BATCH_INFO_API 	= PFMS_API+'?app_key=1234&app=mother&method=batch_info&batch_no='

const item_info_url = 'http://localhost/api/?app_key=1234&app=mother&method=roll_info&roll_no=';

const batch_info_url = 'http://batch_api.test/batches/get/bybatch/';

const batch_production_info_url = 'http://localhost/api?app_key=1234&app=mother&method=batch_production&batch_no=';


const overview_url = 'http://overview.api/ov';
const requisition_url = 'http://requisition.api/ep';

const ajax_data_type = 'json';
const flash_message_time_out = 3000;

const BUYERS_LIST = 'http://local/pfms_api/?app_key=1234&app=mother&method=all_buyers';

const get_items_by_location = API_URL+'locatedItem/itemsByLocation/';
const get_items_by_batch 	= API_URL+'locatedItem/get_items/by_batch/';

const DYEING_BATCH_CARD_PRINT_API = 'http://local/dyeing_batch/?batch=';
const DYEING_DELIVERY_SLIP_PRINT_URL = 'http://local/delivery_slip/?batch_no=';
